<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eLEARNING - eLearning HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% include 'LinkFile.html' %}
  </head>

<body>


    {% include "frmVisitorHeader.html"%}


<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="/Media/Boot/img/about.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h5 class="section-title bg-white text-start text-primary pe-3">About Us</h5>
                    <br>
                    <h5 class="mb-4">Welcome to Accrete Vidhyalay! <br> Where Knowledge Knows No Limits.</h5>
                    <p class="mb-4" style="text-align: justify;"> <!--<i class="fas fa-hand-point-right text-primary me-2"></i>-->
                        Empowering Minds, Transforming Lives. We are not just an online learning platform; we are a community dedicated to fostering growth, curiosity, and innovation. Our journey began with a simple yet powerful vision: to make education accessible to all, regardless of geographic location, background, or circumstance. Today, we stand proud as a leading force in the digital education revolution, empowering millions of learners worldwide.
                        <br>
                        At Accrete Vidhyalay, we believe that education is more than just acquiring knowledge; it's about unleashing potential, sparking creativity, and igniting passion. That's why we offer a diverse range of courses taught by industry experts, designed to inspire, challenge, and transform. Whether you're a seasoned professional looking to upskill, a student eager to explore new horizons, or an aspiring entrepreneur ready to embark on a journey of self-discovery, eVidhyalay has something for you.
                    </p>
                    <a class="btn btn-primary py-2 px-5 mt-00" href="/course/">Explore Us</a>
                </div>
            </div>
        </div>
    </div>
<!-- About End -->
{% include 'Footer.html' %}
{% include 'JS.html' %}
</body>
</html>